@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC Sovellus</h1>
    <p class="lead">Tietokantasovellus - Anne Vaittinen</p>
    <p><a href="/Henkilot" class="btn btn-danger btn-lg">Henkilöt &raquo;</a></p>
    <p><a href="/Tunnit" class="btn btn-success btn-lg">Tunnit &raquo;</a></p>
    <p><a href="/Projektit" class="btn btn-warning btn-lg">Projektit &raquo;</a></p>


</div>